<h1>ようこそ中国語求人センターへ！</h1>

<%= link_to("マイページを見る", user_mypage_path) if user_signed_in? %>
<%= link_to("今すぐアカウント登録", new_user_registration_path) %>
<%= link_to("ログインする", new_user_session_path) %>
<%#= link_to("採用企業の方はこちら", new_user_path) %>